body {
  background-color: beige;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 24px;
  gap: 24px;
}
.note {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  height: 200px;
  padding: 16px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 12px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}
.add-note {
  height: 200px;
  border: none;
  outline: none;
  background-color: rgba(68, 92, 230, 0.899);
  border-radius: 12px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  font-size: 120px;
  transition: background 0.2s;
}
.add-note:hover {
  background: rgba(68, 92, 230, 0.8);
}
